<div class="flex h-screen overflow-hidden bg-brand-bg">
    <app-sidebar></app-sidebar>

    @if (sidebarService.isOpen()) {
        <button type="button" class="fixed inset-0 z-30 bg-black/40 lg:hidden" (click)="sidebarService.close()"
            aria-label="Close sidebar overlay"></button>
    }

    <div class="flex-1 flex flex-col h-full lg:ml-64 transition-all duration-300 relative w-full">
        <app-header></app-header>

        <main class="flex-1 overflow-y-auto hide-scrollbar p-6 md:p-8">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>